<!DOCTYPE HTML>
<html lang="en" ng-app="adHocSql2">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Amplifino's database app"/>
    <meta name="keywords" content="Amplifino database app"/>
    <meta name="author" content="Amplifino"/>
    <meta name="robots" content="all"/>
    <link rel="icon" type="image/png" href="favicon.ico"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.8.3/angular-resource.min.js"></script>
    <!-- https://materializecss.com/about.html -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- https://tableexport.travismclarke.com/#usage -->
    <!-- <script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/shim.min.js" lang="javascript"></script> -->
    <!-- <script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js" lang="javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sql-formatter/15.2.0/sql-formatter.min.js"></script>
    <link href="css/hint.min.css" rel="stylesheet">
    <!-- code-->
    <script src="./js/app.js"></script>
    <script src="./js/services.js"></script>
    <script src="./classes/Segment.class.js"></script>
    <script src="./components/navigation.js"></script>
    <script src="./components/queries.js"></script>
    <script src="./components/result.js"></script>
    <script src="./components/history.js"></script>
    <script src="./components/errors.js"></script>
    <script src="./classes/UserInterface.js"></script>

    <title>Ad Hoc Sql 2.0</title>
  </head>

  <body ng-controller="MainCtrl">

    <navigation ui="ui"></navigation>
    <div class="main-container">
      <queries ng-if="ui.nav.activeTab.tabId === 'SQL'" ui="ui"></queries>
      <result  ng-if="ui.nav.activeTab.tabId === 'RESULT'" ui="ui"></result>
      <errors  ng-if="ui.nav.activeTab.tabId === 'ERRORS'" ui="ui"></errors>
    </div>

  </body>

</html>
