<link href="components/queries.css" rel="stylesheet">

<div class="queries-wrapper">

  <div class="row query-and-history">
    <div class="col s9 input-field query">
      <textarea
        id="sqlInput"
        ng-model="ui.sql"
        ng-keydown="ui.handleKeydown($event)"
        class="materialize-textarea lime lighten-5">
      </textarea>
      <a ng-click="runQuery()"
         class="waves-effect waves-light btn lime darken-1">
        <i class="material-icons left">send</i>
        execute
      </a>
      <a ng-click="ui.sql = ''"
         class="waves-effect waves-dark btn lime lighten-5 grey-text"
         style="margin-left: 10px;">
        <i class="material-icons left">clear</i>
        clear
      </a>
    </div>
    <div class="col s3 history">
      history
    </div>
  </div>

  <div class="row helpers">
    <div class="fix-col-problem" style="color: transparent;"> ? </div>
    <div class="col s3 statements">
      <span ng-repeat="statement in ui.statements"
            ng-click="ui.addSqlInput(statement)"
            ng-class="statement.ngClass"
            class="badge left lime lighten-5">
        {{ statement.insert() }}{{ statement.autocomplete ? ' (Ctrl#)' : '' }}
      </span>
    </div>
    <div class="col s3 tables">
      <span ng-repeat="table in ui.tables"
            ng-click="ui.addSqlInput(table)"
            class="badge left lime lighten-5">
        {{ table.insert() }}{{ table.autocomplete ? ' (Ctrl#)' : '' }}
      </span>
    </div>
    <div class="col s6 fields">
      <span ng-repeat="field in ui.getFields()"
            ng-click="ui.addSqlInput(field)"
            class="badge left lime lighten-5">
        {{ field.insert() }}{{ field.autocomplete ? ' (Ctrl#)' : '' }}
      </span>
    </div>
  </div>

</div>
