<!-- CSS included -->

<div class="queries-wrapper">

  <div class="row query-and-history">
    <div class="col s9 input-field query">
      <textarea
        id="sqlInput"
        ng-model="ui.sql"
        class="materialize-textarea lime lighten-5">
      </textarea>
      <a ng-click="runQuery()"
         class="waves-effect waves-light btn lime darken-1">
        <i class="material-icons left">send</i>
        execute
      </a>
      <a ng-click="ui.sql = ''"
         class="waves-effect waves-dark btn lime lighten-5 grey-text"
         style="margin-left: 10px;">
        <i class="material-icons left">clear</i>
        clear
      </a>
    </div>
    <div class="col s3 history">
      history
    </div>
  </div>

  <div class="row helpers">
    <div class="fix-col-problem" style="color: transparent;"> ? </div>
    <div class="col s3 statements">
      <span ng-repeat="statement in ui.statements"
            ng-click="ui.addSqlInput(statement.text)"
            class="badge left lime lighten-5">
        {{ statement.text }}
      </span>
    </div>
    <div class="col s3 tables">
      <span ng-repeat="table in ui.tables"
            ng-click="ui.addSqlInput(table.name + ' as ' + table.alias)"
            class="badge left lime lighten-5">
        {{ table.name }} as {{ table.alias }}
      </span>
    </div>
    <div class="col s6 fields">
      <span ng-repeat="field in ui.getFields()"
            ng-click="ui.addSqlInput(field.alias)"
            class="badge left lime lighten-5">
        {{ field.alias }}
      </span>
    </div>
  </div>

</div>

<style>

  div.queries-wrapper {
    width: 100%;
    height: fit-content;
  }

  div.queries-wrapper div.query-and-history,
  div.queries-wrapper div.helpers {
    height: calc((100vh - 64px - 60px) / 2);
    min-height: 300px;
  }

  div.queries-wrapper div.statements,
  div.queries-wrapper div.history,
  div.queries-wrapper div.tables,
  div.queries-wrapper div.fields {
    border-left: 1px solid #dce775;
    height: 100%;
  }
  div.queries-wrapper div.helpers {
    border-top: 1px solid #dce775;
  }
  div.queries-wrapper div.helpers span.badge {
    margin-bottom: 10px;
    border: 1px solid white;
  }
  div.queries-wrapper div.helpers span.badge:hover {
    background-color: #dce775 !important;
    cursor: pointer;
  }

  div.queries-wrapper div.query {
    padding: 30px;
    height: calc(100% - 30px);
  }
  div.queries-wrapper div.query textarea {
    padding: 15px;
    height: 100%;
    border-bottom: 0;
  }
  div.queries-wrapper div.query.input-field textarea:focus {
     border-bottom: 1px solid #dce775;
     box-shadow: 0 1px 0 0 #dce775;
  }

</style>
